@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'quicksand';
  src: url('./assets/quicksand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@layer utilities {

}

.form-group {
  @apply mb-1 text-left;
}

.label-form {
  @apply block mb-1 font-bold  text-gray-800;
}