@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'quicksand';
  src: url('./assets/quicksand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@layer utilities {
}